$font-stack: "AvenirLT", "Avenir", sans-serif;
$border: 1px solid rgba(224, 224, 224, 1);
$border-radius: 5px;
$text-color: #00104b;
$primary-color: #07f;
$primary-color-active: #0065d9;
$secondary-color: #c8ccd4;
$secondary-color-active: #b3b8c3;
$background-color: #f2f3f6;
$danger-color: #ff4242;
$danger-color-active: #b5202c;
$warning-color: #f89406;
$success-color: #228b22;
