@import "../../../styles/variables";

.login-form {
  &__error {
    margin-top: -18px;
    color: $danger-color;
    text-align: center;
  }

  &__text-field {
    margin-bottom: 15px;
    display: flex;
  }

  &__login-button {
    width: 100%;
    display: flex;
  }
}
