.chat-page {
  flex-grow: 1;
  flex-shrink: 1;
  overflow: auto;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: stretch;

  &__header {
    margin-top: 30px;
    text-align: center;
  }
}